{
  "extends": "airbnb-base",
  "rules": {
    "arrow-parens": 0,
    "object-curly-spacing": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ]
  }
}
